

.content-container{
display: grid;
padding: 4em 0;
gap: 1.5em;
grid-template-areas:
"place"
"comment"
"map";


.place{
grid-area:place;
}

  .place > .card{
  padding: 1.5em;
  }


  .comments{
  padding: 0 1.5em;
  border: 1px solid var(--border-clr);
  border-radius: var(--br);

  .comment{
   padding-top: 2em;
  }

  .author{
  padding-bottom: 1em;
  }

  .underline{
  border-bottom: 1px solid var(--border-clr);
  display: block;
  padding: 1em 0;
  width: 100%;
  }

  .comment-btn{
  padding-top: 2em;

  button{
    padding: 1em;
  }
  }

  }



    .map{
    grid-area: map;
    justify-self: center;
    align-self: center;
    
        img{
        border: 1px solid var(--border-clr);
        border-radius: var(--br);
        padding: 1.5em;
        }
    }

}

@media (min-width:$tablet){

    .content-container{
        grid-template-areas:
        "map place"
        "map comment";
        grid-template-columns: 1fr 1fr;


        .place > .card{
            padding: 2em;
            }


        .map{
        align-self: flex-start;

        img{
        padding: 2.5em;
        }

        }

        .comments{
        padding: 3em;
        }


    }

    
  



}