/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Josefin+Sans&family=Outfit:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --bg-primary:black;
  --bg-secondary:black;
  --bg-accent:black;
  --bg-white:white;
  --bg-black:black;
  --bg-gray:rgba(243, 236, 236, 0.5);
  --fc-primary:black;
  --fc-secondary:rgba(211, 211, 211, 0.733);
  --fc-light-gray:rgba(141, 140, 140, 0.699);
  --fc-accent:rgba(0, 225, 255, 0.808);
  --fc-black:black;
  --fc-white:white;
  --fs-heading:2rem;
  --fs-sub-heading:1rem;
  --fs-paragraph:1rem;
  --fs-button:1rem;
  --fs-custom:1.5rem;
  --fw-100:200;
  --fw-200:200;
  --fw-300:300;
  --fw-400:400;
  --fw-500:500;
  --fw-600:600;
  --fw-700:700;
  --fw-800:800;
  --fw-900:900;
  --fw-bold:bold;
  --fw-bolder:bolder;
  --fw-lighter:lighter;
  --ff-primary:'Bai Jamjuree', sans-serif;
  --ff-secondary:'Josefin Sans', sans-serif;
  --br:5px;
  --border-clr:rgba(128, 128, 128, 0.397);
}

@media (min-width: 768px) {
  :root {
    --fs-heading:2.3rem;
    --fs-sub-heading:1rem;
    --fs-paragraph:1.1rem;
    --fs-custom:1.8rem;
    --fs-button:1.3rem;
  }
}

body {
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-800);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-sub-heading);
  font-weight: var(--fw-800);
}

h3 {
  font-size: var(--fs-custom);
  font-weight: var(--fw-800);
}

p {
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-500);
}

button {
  font-size: var(--fs-button);
  font-weight: var(--fw-800);
  padding: 1em;
}

form input {
  background-color: var(--bg-gray);
  border: none;
  border-radius: var(--br);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-500);
  color: var(--fc-light-gray);
  padding: 1em;
}

form input::-webkit-input-placeholder {
  font-size: var(--fs-button);
  color: var(--fc-light-gray);
}

form input:-ms-input-placeholder {
  font-size: var(--fs-button);
  color: var(--fc-light-gray);
}

form input::-ms-input-placeholder {
  font-size: var(--fs-button);
  color: var(--fc-light-gray);
}

form input::placeholder {
  font-size: var(--fs-button);
  color: var(--fc-light-gray);
}

form button {
  padding: 1em;
}

a {
  color: var(--fc-accent);
}

a :visited {
  color: var(--fc-accent);
}

a.default {
  color: var(--fc-primary);
}

a.default :visited {
  color: var(--fc-primary);
}

a.no-decoration {
  text-decoration: none;
}

a.no-decoration:hover {
  text-decoration: underline;
}

footer {
  padding-top: 2em;
  padding-bottom: 5em;
}

/************************************************************/
/********************  Utility-classes   ********************/
/************************************************************/
.container {
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 80rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.padding-tb {
  padding: 2em 0em 2em 0em;
}

.padding-lr {
  padding: 0em 1.5em 0em 1.5em;
}

.line-height-1 {
  line-height: 2.2;
}

#info {
  padding: 1em;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.bg-white {
  background-color: var(--bg-white);
}

.fc-primary {
  color: var(--fc-primary);
}

.fc-secondary {
  color: var(--fc-secondary);
}

.fc-accent {
  color: var(--fc-accent);
}

.fc-white {
  color: var(--fc-white);
}

.fs-heading {
  font-size: var(--fs-heading);
}

.fs-sub-heading {
  font-size: var(--fs-sub-heading);
}

.fs-paragraph {
  font-size: var(--fs-paragraph);
}

.fs-button {
  font-size: var(--fs-button);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.fw-900 {
  font-weight: var(--fw-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-bolder {
  font-weight: var(--fw-bolder);
}

.fw-light {
  font-weight: var(--fw-lighter);
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

/************************************************************/
/********************     Components     ********************/
/************************************************************/
.btn-primary {
  background-color: var(--bg-black);
  color: var(--fc-white);
  border-radius: var(--br);
  padding: 0.4em;
}

.btn-primary:hover {
  background-color: var(--bg-white);
  color: var(--fc-primary);
  outline: 1px solid var(--bg-black);
}

.btn-secondary {
  background-color: var(--bg-white);
  color: var(--fc-black);
  border-radius: var(--br);
  border: 1px solid var(--border-clr);
  padding: 0.4em;
}

.btn-secondary:hover {
  background-color: var(--bg-primary);
  color: var(--fc-white);
}

.card {
  border: 1px solid var(--border-clr);
  border-radius: var(--br);
  padding: 0.7em;
}

.card h2, .card p {
  margin: 0.5em;
}

.card img {
  border-radius: var(--br);
  width: 100%;
}

.card button {
  width: 100%;
  margin: 0.2em 0;
}

nav.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 0;
}

nav.main-nav > * {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-nav #hamburger {
  background-color: var(--bg-gray);
  padding: 0.2em;
  border-radius: var(--br);
}

nav.main-nav .tablet-nav {
  display: none;
}

@media (min-width: 768px) {
  nav.main-nav .tablet-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.main-nav .tablet-nav p {
    padding-right: 1.5em;
  }
  nav.main-nav #hamburger {
    display: none;
  }
}

.landing-page .landing-container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 2fr 3fr;
      grid-template-rows: 0.1fr 2fr 3fr;
      grid-template-areas: "nav" "hero" "content";
}

.landing-page nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.landing-page nav img {
  padding-left: 1.5em;
}

.landing-page .landing-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  padding: 2.5em 0 1em 1.5em;
}

.landing-page .landing-content .logos {
  width: 33%;
}

.landing-page .landing-content > *:not(:first-child) {
  padding: 0.5em 0;
}

.landing-page .landing-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
  background-image: url(/Assets/hero-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1280px) {
  .landing-page .landing-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav hero" "content hero" "content hero";
  }
  .landing-page .landing-image {
    background: url(/Assets/hero-img.jpg);
    background-size: cover;
  }
  .landing-page .landing-content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: content;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    width: 75%;
  }
  .landing-page nav {
    width: 75%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .landing-page nav img {
    padding: 0;
  }
  .landing-page .landing-content > *:not(:first-child) {
    padding: 1em 0;
  }
}

.homepage header .hero {
  background-color: var(--bg-gray);
  padding: 1.5em;
  border-radius: var(--br);
}

.homepage header .hero p {
  padding: 1em 0;
}

.homepage header .hero .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage header .hero .search-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.homepage header .hero .search-container input {
  padding: 0.4em;
  font-size: var(--fs-button);
  border: 1px solid var(--border-clr);
  border-radius: var(--br);
}

.homepage .card-container {
  padding: 2em 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
  -ms-grid-columns: (minmax(300px, 400px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .homepage header .hero {
    padding: 5em;
  }
  .homepage header .hero .search-container > div {
    display: inline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .homepage header .hero .search-container button {
    width: 17%;
  }
  .homepage .card-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (minmax(300px, 363px))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 363px));
  }
}

.wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas: "nav" "form" "review";
}

.wrapper nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  padding: 2em;
}

.wrapper header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  padding: 2em;
}

.wrapper header h1 {
  margin-bottom: 1em;
}

.wrapper header form {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.wrapper .review {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: review;
  padding: 3em 3em 2em 3em;
  background-color: var(--bg-gray);
}

.wrapper .review h3 {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .wrapper nav {
    padding: 5em;
  }
  .wrapper header {
    padding: 5em;
  }
  .wrapper header form {
    width: 70%;
  }
  .wrapper .review {
    padding: 5em;
  }
}

@media (min-width: 1280px) {
  .wrapper {
        grid-template-areas: "nav review" "form review";
  }
  .wrapper nav {
    padding: 5em;
  }
  .wrapper header {
    padding: 5em;
  }
  .wrapper header form {
    width: 70%;
  }
  .wrapper .review {
    padding: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content-container {
  display: -ms-grid;
  display: grid;
  padding: 4em 0;
  gap: 1.5em;
      grid-template-areas: "place" "comment" "map";
}

.content-container .place {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: place;
}

.content-container .place > .card {
  padding: 1.5em;
}

.content-container .comments {
  padding: 0 1.5em;
  border: 1px solid var(--border-clr);
  border-radius: var(--br);
}

.content-container .comments .comment {
  padding-top: 2em;
}

.content-container .comments .author {
  padding-bottom: 1em;
}

.content-container .comments .underline {
  border-bottom: 1px solid var(--border-clr);
  display: block;
  padding: 1em 0;
  width: 100%;
}

.content-container .comments .comment-btn {
  padding-top: 2em;
}

.content-container .comments .comment-btn button {
  padding: 1em;
}

.content-container .map {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: map;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content-container .map img {
  border: 1px solid var(--border-clr);
  border-radius: var(--br);
  padding: 1.5em;
}

@media (min-width: 768px) {
  .content-container {
        grid-template-areas: "map place" "map comment";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .content-container .place > .card {
    padding: 2em;
  }
  .content-container .map {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .content-container .map img {
    padding: 2.5em;
  }
  .content-container .comments {
    padding: 3em;
  }
}
