
.homepage{

header{
        .hero{
            background-color: var(--bg-gray);
            padding: 1.5em;
            border-radius: var(--br);
            
            p{
            padding: 1em 0;
            }
            
            
            .search-container{
                display: flex;
                flex-direction: column;
                
                >div{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                }
                
                
                input{
                padding: 0.4em;
                font-size: var(--fs-button);
                border: 1px solid var(--border-clr);
                border-radius: var(--br);
                }
                   
            }
            
            
            }
}

.card-container{
padding: 2em 0;
display: grid;
grid-gap:3em;
grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
justify-content: center;

}


@media (min-width: $tablet){

header{
    .hero{
        padding: 5em;
        
              .search-container{
        
                    >div{
                    display: inline;
                    flex-direction: row;
                    }
        
                    button{
                    width: 17%;
                    }
                }
        
        }
}

.card-container{
justify-content: space-between;
grid-template-columns: repeat(auto-fill, minmax(300px, 363px));
}

}

}