
.landing-page{
    
    .landing-container{
        min-height: 100vh;
        display: grid;
        grid-template-rows: 0.1fr 2fr 3fr;
        grid-template-areas:
        "nav"
        "hero"
        "content";
        }
        
        nav{
        grid-area:nav;
        
         img{
         padding-left: 1.5em;
         }
        }
        
        .landing-content{
        grid-area: content;
        padding: 2.5em 0 1em 1.5em;
        
        .logos{
        width: 33%;
        }
        
        }
        
        .landing-content > *:not(:first-child){
        padding: 0.5em 0;
        }
        
        .landing-image{
        grid-area: hero;
        background-image: url(/Assets/hero-mobile.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        
        
        @media (min-width: $laptop){
        .landing-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav hero"
        "content hero"
        "content hero";
        }
        
        .landing-image{
        background: url(/Assets/hero-img.jpg);
        background-size: cover;
        }
        
        
        .landing-content{
            grid-area: content;
            justify-self: center;
            align-self: center;
            padding: 0;
            width: 75%;
    
         }
        
         nav{
             width: 75%;
             justify-self: center;
             align-self: flex-end;
        
             img{
                padding: 0;
             }
           
         }
        
         .landing-content > *:not(:first-child){
            padding: 1em 0;
        }
         
        }
        
}

